span {
  text-color: black;
}

.course {
  list-style-type: none;
}

.course li {
  position: relative;
}

.course a {
  position: relative;
  text-decoration: none;
  background-color: orange;
  transition: 0.3s;
  padding: .2em .5em .2em .5em;
  margin: .3em;
  display: block;
  border-radius: 4px;
}

.course a:hover {
  background-color: yellow;
  transition: 0.3s;
  text-decoration: none;
}

.course span  {
  padding: 0 .5em 0 .5em;
}
