<div>
  <h1>Courses</h1>

  <h6 *ngIf="!isAdmin">Instructed Courses</h6>
  <ul class="courses instructed">
    <li *ngFor="let course of instructedCourses" class="course">
      <a routerLink="/courses/{{course._id}}">
        <span class="abbreviation">{{course.courseAbbreviation}}</span>
        <span class="title">{{course.courseTitle}}</span>
      </a>
    </li>
  </ul>

  <h6 *ngIf="!isAdmin">Enrolled Courses</h6>
  <ul class="courses enrolled">
    <li *ngFor="let course of enrolledCourses" class="course">
      <a routerLink="/courses/{{course._id}}">
        <span class="abbreviation">{{course.courseAbbreviation}}</span>
        <span class="title">{{course.courseTitle}}</span>
      </a>
    </li>
  </ul>

  <h6 *ngIf="!isAdmin">All Other Courses</h6>
  <ul class="courses allOther">
    <li class="course allOther">
      <a routerLink="/create-course">
        <span class="createCourse">CREATE A NEW COURSE</span>
      </a>
    </li>
    <li *ngFor="let course of allOtherCourses" class="course">
      <a routerLink="/courses/{{course._id}}">
        <span class="abbreviation">{{course.courseAbbreviation}}</span>
        <span class="title">{{course.courseTitle}}</span>
      </a>
    </li>
  </ul>
</div>


