<div>
  <h1>Courses</h1>

  <h4>Instructed Courses</h4>
  <ul id="courses instructed">
    <li *ngFor="let course of instructedCourses" class="course">
      <a routerLink="/{{course._id}}">
        {{course.courseAbbreviation}}
        {{course.courseTitle}}
      </a>
    </li>
  </ul>

  <h4>Enrolled Courses</h4>
  <ul id="courses enrolled">
    <li *ngFor="let course of enrolledCourses" class="course">
      <a routerLink="/{{course._id}}">
        {{course.courseAbbreviation}}
        {{course.courseTitle}}
      </a>
    </li>
  </ul>

  <h4>All Other Courses</h4>
  <ul id="courses enrolled">
    <li *ngFor="let course of allOtherCourses" class="course">
      <a routerLink="/{{course._id}}">
        {{course.courseAbbreviation}}
        {{course.courseTitle}}
      </a>
    </li>
    <li class="course">
      <a routerLink="/create-course">
        Create Course
      </a>
    </li>
  </ul>
</div>


